@model IEnumerable<HomeOfficeManagement.Entity.Attendees>

@{
    ViewData["Title"] = "Index";
   
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueTime)
            </td>

        </tr>
}
    </tbody>
</table>
